// @import "~vuetify/src/stylus/main.styl";
$primary = #ED0039;
$secondary = #6a625a;
$accent = #6A625A;
$error = #FF0000;
$warning = #FFEB3b;
$info = #E1E0DE;
$success = #78B60B;
$dashcol = #FFFFFF;

@font-face {
    font-family: FS Me;
    font-weight: 500;
    src: url(/fonts/FSMeWeb-Regular.woff) format("woff");
}

// @font-face {
//     font-family: FS Me;
//     font-weight: 300;
//     src: url(/fonts/FSMeWeb-Light.woff) format("woff")
// }

// @font-face {
//     font-family: FS Me;
//     font-weight: 300;
//     font-style: italic;
//     src: url(/fonts/FSMeWeb-LightItalic.woff) format("woff")
// }

// @font-face {
//     font-family: FS Me;
//     font-weight: 500;
//     font-style: italic;
//     src: url(/fonts/FSMeWeb-Italic.woff) format("woff")
// }

@font-face {
    font-family: FS Me;
    font-weight: 700;
    src: url(/fonts/FSMeWeb-Bold.woff) format("woff");
}

@font-face {
    font-family: FS Me;
    font-weight: 700;
    font-style: italic;
    src: url(/fonts/FSMeWeb-BoldItalic.woff) format("woff");
}

@font-face {
    font-family: "Fedra Serif";
    font-weight: 400;
    src: url(/fonts/Fedra_Serif_Medium.ttf);
}

@font-face {
    font-family: "Fedra Serif";
    font-weight: 500;
    src: url(/fonts/Fedra_Serif_Bold.ttf);
}

:root {
  --sans-serif-font: "FS Me", "Arial", "Helvetica", sans-serif;
  --serif-font: "Fedra Serif", "Georgia", "Times New Roman", sans-serif;
  --base-font-size: 18px;
}

body {
  font-size 18px;
  font-weight: 500;
  font-family: "FS Me", "Helvetica Neue", Arial, sans-serif;
}

.application .v-toolbar[main-toolbar] {
  background-color #fff
  border-bottom 1px solid $secondary
}

p {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.5em;
}

a {
  color darken($primary, 50%)
}

h1, h2, h3, h4, h5 {
  color: $secondary;
  font-weight: 400;
}

h1 {
  margin: 0.67em 0;
  font-family: "Fedra Serif", "Georgia", "Times New Roman", sans-serif;
  font-size: 2.66667em;
  font-weight: 500;
  line-height: 1.2em;
}

h2 {
  margin: 0 0 0.83em 0;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2em;

  @media (min-width: 600px) {
    font-size: 2.33333em;
  }
}

h3 {
  font-size 1.66667em
}

h4 {
  font-size 1.5em
}

.v-btn {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0 !important;
  margin-right: 12px;
  text-transform none

  &--large {
    height: 50px;
    padding: 0 15px 0 15px;
    font-size: 1.22222em;
    box-shadow: 0 0 12px rgba(0, 0, 0, .5);
  }

  &:not(.v-btn--icon):not(.v-btn--flat):hover {
    background-color: #892723 !important;
    border-color: #892723 !important;
  }

  // &.primary {
  //   background-color #fff !important
  //   border-radius 50%
  //   border 1px solid $primary
  //   color $primary
  // }
}

.info-box {
  padding: 30px;
  background-color: #e1e0de;
}

.theme--light.application {
  background-color: #fff;
  color: #6a625a;
  font-family: "FS Me", "Helvetica Neue", Arial, sans-serif;
}

.theme--light.v-text-field--box .v-input__slot {
  background-color: #FFF;
  border: 1px solid #CCC;
}

.theme--light.v-text-field--box:not(.v-input--is-focused) .v-input__slot:hover {
  background-color: #FAFAFA;
}

.services {
  &__item {
    position relative
    padding-right 50px

    &__icon {
      position absolute
      right 5px
      top 0
      bottom 0
      margin auto
      height 36px
      width 36px
    }
  }
}
