$primary = #A60042;
$secondary = #2b2b2b;
$accent = #6A625A;
$error = #FF0000;
$warning = #FFEB3b;
$info = #E1E0DE;
$success = #78B60B;
$dashcol = #FFFFFF;

// $color = {
//   "base":       #00bcd4,
//   "lighten-5":  #e0f7fa,
//   "lighten-4":  #b2ebf2,
//   "lighten-3":  #80deea,
//   "lighten-2":  #4dd0e1,
//   "lighten-1":  #26c6da,
//   "darken-1":   #00acc1,
//   "darken-2":   #0097a7,
//   "darken-3":   #00838f,
//   "darken-4":   #006064,
//   "accent-1":   #84ffff,
//   "accent-2":   #18ffff,
//   "accent-3":   #00e5ff,
//   "accent-4":   #00b8d4
// }
